<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" id="ofbiz-smart-petclinic">
	<display-name>ofbiz-smart-petclinic</display-name>



	<servlet>
		<servlet-name>SmartServlet</servlet-name>
		<servlet-class>org.huihoo.ofbiz.smart.webapp.DispatchServlet</servlet-class>
		<init-param>
			<param-name>jsp-view-base-path</param-name>
			<param-value>/WEB-INF/views</param-value>
		</init-param>
		<init-param>
			<param-name>uri-suffix</param-name>
			<param-value>.do</param-value>
		</init-param>
		<init-param>
			<param-name>http-api-uri-base</param-name>
			<param-value>/api</param-value>
		</init-param>
		<init-param>
			<param-name>rest-api-uri-base</param-name>
			<param-value>/rest</param-value>
		</init-param>
		<init-param>
			<param-name>api-doc-uri-base</param-name>
			<param-value>/doc</param-value>
		</init-param>
		<init-param>
			<param-name>use-smart-session</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SmartServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>


</web-app>
